// out: "../css/main.css", compress: true, sourceMap: true

.menu{
    display: flex;
    justify-content: space-between;
    &-left{
        margin-left: 116px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 2.5rem;
    }
    &-middle{
        margin-top: 16px;
        margin-bottom: 16px;
        margin-right: 2.5rem;
        display: flex;
        justify-content: space-evenly;
        .catalog{
            margin-right: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #70C05B;
            border-radius: 4px;
            border: none;
            img{
                margin: 8px;
            }
            .text{
                margin: 8px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
        .search{
            display: flex;
            justify-content: space-between;
            background: #FFFFFF;
            border: 1px solid #70C05B;
            border-radius: 4px;
            & input{
                background: transparent;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #8F8F8F;
                padding-left: 16px;
                border: none;
                width: 20rem;
            }
            .button{
                background: transparent;
                display: flex;
                align-items: center;
                border: none;
            }
        }
    }
    &-right{
        margin-right: 116px;
        margin-top: 16px;
        margin-bottom: 16px;
        background-color: yellow;
    }
}