// out: "../css/main.css", compress: true, sourceMap: true

.menu{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    &-left{
        margin-left: 116px;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-right: 40px;
    }
    &-middle{
        margin-top: 16px;
        margin-bottom: 16px;
        margin-right: 40px;
        display: flex;
        justify-content: space-evenly;
        .catalog{
            margin-right: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #70C05B;
            border-radius: 4px;
            border: none;
            img{
                margin: 8px;
            }
            .text{
                margin: 8px;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #FFFFFF;
            }
        }
        .search{
            display: flex;
            justify-content: space-between;
            background: #FFFFFF;
            border: 1px solid #70C05B;
            border-radius: 4px;
            & input{
                background: transparent;
                font-family: 'Rubik';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #8F8F8F;
                padding-left: 16px;
                border: none;
                width: 400px;
            }
            .button{
                background: transparent;
                display: flex;
                align-items: center;
                border: none;
            }
        }
    }
    &-right{
        margin-right: 116px;
        margin-top: 16px;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        .links{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #414141;
            display: flex;
            img{
                width: 24px;
                height: 24px;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 8px;
            }
            .links-item{
                margin-right: 24px;
            }
        }
        .user{
            font-family: 'Rubik';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            display: flex;
            flex-direction: row;
            align-items: center;
            img{
                margin-right: 10px;
            }
            .name{
                margin-right: 18px;
            }
        }
    }
}
section{
    background: #FBF8EC;
    .sliders{
        margin-bottom: 80px;
        img{
            margin-top: 4px;
            width: 100%;
        }
    }
    .shop{
        display: grid;
        margin-left: 116px;
        margin-right: 116px;
        .promotions{
            margin-bottom: 120px;
            .headline{
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .left{
                    font-family: 'Rubik';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 36px;
                    color: #414141;
                }
                .right{
                    button{
                        border: none;
                        background: transparent;
                        display: flex;
                        .text{
                            font-family: 'Rubik';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            color: #606060;
                        }
                        img{
                            margin-left: 8px;
                            margin-right: 8px;
                            width: 22px;
                            height: 22px;
                        }
                    }
                }
            }
            .content{
                margin-top: 40px;
                display: flex;
                justify-content: space-between;
                img{
                    width: 272px;
                    height: 349px;
                    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
                    border-radius: 4px;
                }
            }
        }
    }
}